/* Variables */
:root {
    --primary-font: 'Julius Sans One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --text-font: 'Open Sans', sans-serif;
    --primary-color: #ffffff;
    --sub-color: #ffda95;
    --secondary-color: #c8c8c8;
    --text-color: #a55b2a;
    --section-color: #332a19e1;
}

/* Photography Banner*/
#photography_banner {
    position: relative;
    background: transparent;
    top: 0;
    left: 0;
    min-height: 60vh;
    max-height: 100%;
    text-align: center;
}

#photography_banner_text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(63, 55, 40, 0.5);
}

#photography_banner_text h1 {
    margin: 0 auto;
}

#photography_banner_text > h3 {
    color: var(--primary-color);
    margin: 5px auto 22px auto;
    width: 70%;
}

/* Photography section */
#photography_p {
    margin: 4rem auto 2rem auto;
    padding: 1.25rem 10%;
}

#photography_grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

#photography_grid .column {
    flex: 30%;
    margin: .1rem;
}

.column img {
    margin: .1rem;
}

#photography_grid img {
    width: 100%;
    height: auto;
    max-height: 100%;
}

/* Buttons */
#photography_p a {
    width: 15rem;
    margin: .5rem auto;
}

#link_btn {
    font-family: var(--primary-font);
    color: var(--section-color);
    border: 1.75px solid var(--section-color);
    border-radius: 0;
    padding: 5px 10px;
    width: 15rem;
}

#link_btn:hover {
    color: var(--primary-color);
    border: 1.75px solid var(--section-color);
    background: var(--section-color);
}

@media (max-width: 960px) {
    #photography_banner {
        background-position: right center;
    }
    #photography_grid .column {
        flex: 100%;
    }
    #photography_grid .column img {
        min-width: 250px;
    }
}

@media (max-width: 586px) {
    #photography_banner_text h1 {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
}